* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ariel', sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

.text-peqe {
    max-width: 1000%;
    height: 1.5rem;
    background-color: black;
}

.text-peqe p {
    padding: 5px;
    letter-spacing: 2px;
    font-size: 13px;
    text-align: center;
    color: #FFFFFF;
}




.title {
    text-align: center;
    padding: 56px;

}

.title h1 {
    font-size: 50px;
    padding: -10px;
    margin-bottom: 10px;
}

.title h2 {
    letter-spacing: 18px;
    font-size: 20px;
}




.icon {
    margin-left: 190px;
    margin-top: -125px;
}

.icon img {
    max-width: 30px;
    max-height: auto;
}

.icons {
    margin-left: 85%;
    margin-top: -43px;
}

.icons img {
    max-width: 40px;
    max-height: auto;
    margin-left: 10px;
}



.foto {
    margin-top: 116px;
}

.foto img {
    margin-bottom: 100px;
    width: 100%;
    height: auto;
}



.opciones {
    margin-bottom: 110px;
    font-size: 20px;
    text-align: center;
    word-spacing: 70px;

}

.opciones a {
    color: black;
    text-decoration: none;
}


.container1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-items: center;
    margin-top: 10px;
}


.container1 .card {
    background: #161616;
    color: #fff;
    width: 180px;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container1 .card img {
    width: 100%;
    max-height: 150px;
    object-fit: contain;
    margin-bottom: 10px;
}

.container1 .card h4 {
    font-size: 14px;
    margin: 5px 0;
}

.container1 .card p {
    font-size: 13px;
    margin: 0;
}


#cuenta-carrito {
    background-color: black;
    color: rgb(255, 255, 255);
    border-radius: 100%;
    display: inline-block;
    width: 20px;
    line-height: 20px;
    text-align: center;
}